:root{
    --main-color: #1a1a1a;
    --second-color: #414141;
    --third-color: #525252;
    --accent-color: #a200ff;
    --text-color: #ffffff;
}

*{
    margin: 0;
    font-family: 'Roboto';
}
body{
    background-color: var(--main-color);
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 15px 2px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #a200ff;
    z-index: 1;
    background-color: #1a1a1a;
}

.mainHeader{
    display: inline-flex;
    text-align: center;
    width: fit-content;
    color: var(--text-color);
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:800px;
    position: relative;
}

.input-container{
    margin: 8px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #242424;
    box-shadow: 2px 2px 10px #a200ff;
    display: flex;
    align-self: center;
    justify-content: center;
    transition: all 0.6s;
    z-index: 1;
}

.input-container:hover{
    transform: scale(1.1);
}

#createTask{
    border: 2.5px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
}
#createTask::placeholder{
    text-align: center;
}

#addBtn{
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
li.createdTask{
    text-wrap: balance;
}
#taskCheck{
    height: 18px;
    width: 18px;
}

.deleteBtn{
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    color:#ffffff;
    height: 30px;
    width: 30px;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}
.todoContent{
    z-index: 1;
    margin: 7px 2px;
    display:flex;
}
.todo-container{
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 10px;
    border: 2px solid black;
    background-color: #242424;
    min-width: 35rem;
    min-height: 8rem;
    box-shadow: 5px 5px 100px #a200ff;
}
.priorityToggles{
    margin-left:2px;
}
.downPriority{
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px 2px;
    color:#ffffff;
    margin-left:2px;
    margin-top: 2px;
    box-shadow: 2px 2px 10px #a200ff;
}
.upPriority{
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px 2px;
    color:#ffffff;
    margin-left:2px;
    margin-bottom: 2px;
    box-shadow: 2px 2px 10px #a200ff;
}

.editBtn{
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    color:#ffffff;
    height: 30px;
    width: 30px;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttonDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 5px;
}

.createLi{
    background-color: #1a1a1a;
    list-style: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    color:#ffffff;
    min-width: 25rem;
    max-width: 30rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-shadow: 2px 2px 10px #a200ff;
}
.checkboxContainer{
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 32px;
    min-height: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #a200ff;
}
.priorityFlag{
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    color:#ffffff;
    height: min-content;
    width: max-content;
    display:flex;
    justify-content: center;
    align-self: center;
    box-shadow: 2px 2px 10px #a200ff;
}

#createTask::placeholder{
    color: #1b1b1b;
}
#createTask{
    padding: 8px;
    min-width: 25rem;
    text-align: center;
}

.alertButton{
    width: 30px;
    height: 30px;
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 40px #a200ff;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: #ffffff;
}
.sortButton{
    width: 30px;
    height: 30px;
    background-color: #1a1a1a;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 40px #a200ff;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: #ffffff;
}

.controlButtons{
    position: absolute;
    top: 0.6rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

.li-container{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

